body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar img {
    border-radius: 50%;
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    object-fit: cover;
    margin-right: 20px;
}

.header-text {
    text-align: left;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #3498db;
}

h3 {
    color: #333;
}

p {
    line-height: 1.6;
}

.contact {
    display: flex;
    justify-content: space-between;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skill {
    background-color: #3498db;
    color: #fff;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 3px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
